

<div class="column row small-centered text-center">

<h1> Simplex LP Solver </h1>

<h2> Solves linear min/max optimization problems using two-phase simplex method. Describes and shows the tableaus generated at each step.</h2>


<h2> By James Priebe</h2>
<h2> <a href="https://github.com/J-Priebe/simplex-lp-solver">Github Source</a></h2>
</br>
</br>

</div>

<div class="column row">


<div id="num-dvs-container">
Enter # of Decision Variables (x1..xn):
</br>
<input type="number" id="num-decision-variables" min="1" value="1" size="2" /> 
</br>
<div class="button medium" id="submit-num-vars-button" > Next </div>

</div>

<div id="inputs-container" style="display:none;">
Choose your problem type (minimization or maximization), and enter the decision variable coefficients on your objective function and constraints. Click the button to add additional constraints.

  <table id="inputs-table">
    <tr id="of-row">
      <td>
        <select id="min-max-select">
          <option value="max">MAX</option>
          <option value="min">MIN</option>
        </select>
      </td>
      <td> Z = </td>
    </tr>
    <tr id="constraints-header">
      <td> </td>
      <td> S.T. </td>
    </tr>
    <tr id="nz-row">
      <td></td>
      <td id="nz-constraint"> x1..xn </td>
      <td> >= </td>
      <td> 0 </td>
    </tr>

  </table>

  <div class="button medium" id="add-constraint"  >Add Constraint...</div>
  </br></br>


</div>

<div id ="solution-container" style="display:none;">
   <ul class="accordion" data-accordion data-multi-expand="true" role="tablist">


<li class="accordion-item is-active">
       <a href="#standard-form-container" role="tab" class="accordion-title">Standard Form</a>
<div id="standard-form-container" class="accordion-content" role="tabpanel" data-tab-content>

  <h2> Standard Form </h2>
  Converted inequality constraints into equalities by adding slack variables.


</div>
</li>

<li class="accordion-item">
  <a href="#phase-one-container" role="tab" class="accordion-title">Phase One</a>


<div id="phase-one-container" class="accordion-content" role="tabpanel" data-tab-content>


</div>
</li>

<li class="accordion-item ">
    <a href="#phase-two-container" role="tab" class="accordion-title">Phase Two</a>


<div id="phase-two-container" class="accordion-content" role="tabpanel" data-tab-content>


</div>
</li>


<li class="accordion-item ">
  <a href="#optimal-solution-container" role="tab" class="accordion-title">Optimal Solution</a>

<div id="optimal-solution-container" class="accordion-content" role="tabpanel" data-tab-content>
</div>

</li>

  </ul>
</div>

<div class="button medium" id="solve-button" style="display:none;">Solve</div>

</div>
